.main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 5em;
}

.algorithms {
  display: flex;

  flex-direction: column;

  height: 100%;
  margin-bottom: 7em;
}

.algorithmBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  row-gap: 1em;

  margin: 1em 1.7em;

  text-align: center;

  width: 14em;
  height: 14em;

  outline: 1px solid black;

  border-radius: 7px;
}

.algorithmBoxes {
  display: flex;

  flex-wrap: wrap;

  align-items: center;
  justify-content: center;
}

.algorithmBox h2 {
  font-weight: normal;
  font-size: 1.1em;
}

.algorithmBoxImg {
  width: 128px;
  height: 128px;
}

.information {
  display: flex;

  flex-direction: column;

  width: 80%;

  font-size: 1.4em;

  padding-top: 1em;
  padding-bottom: 1em;
}

.infoBox div {
  margin-left: 1.2em;
  margin-right: 1.2em;
}

.infoBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  margin-bottom: 3em;
}

.infoBoxImg {
  width: 150px;
  height: 150px;

  padding-top: 1em;
  padding-bottom: 1em;

  outline: 1px solid black;

  border-radius: 7px;
}

.infoBox h1 {
  display: inline;
}

.usage {
  margin-top: 1.5em;
  font-size: 1.3em;
}

.usage ol {
  counter-reset: item;
}

.usage h1 {
  text-align: center;
  margin-bottom: 0.5em;
}

.usage ol li {
  display: block;
  margin-bottom: 1em;
}

.usage ol li:before {
  font-size: 1.4em;
  content: counter(item) ". ";
  counter-increment: item;
  font-weight: bold;
}

.usage li::marker {
  font-weight: bold;
  margin-bottom: 0.5em;
}